nav{
    height: 70px;
}

.navbar-collapse{
    padding: 10px;
}

.nav-logo{
    height: 16px;
}

.navbar-brand{
    padding: 25px;
}

.nav li.active .active-menu{
    color: #003ebb;
    background-color: transparent;
}

.navbar-nav{
    font-size: 16px;
}

.navbar-default{
    background-color: white;
    border-color: white;
    box-shadow: 0px 0px 10px #cecece;
    border-radius: 0px;
}

.navbar-nav .dropdown-menu li{
    border-bottom: 1px solid #d8d8d8;
}

#nav-dropdown{
    padding: 0px;
    /* width: 160px; */
}

.navbar-nav .dropdown-menu li>a{
    padding: 10px;
}

.navbar-nav a:hover, .navbar-nav .active > a:hover{
    background-color: transparent !important;
    color: #003ebb !important;

}

.navbar-nav .dropdown-menu li:last-child{
    border-bottom: none;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.material-icons{
    vertical-align: middle;
}

.container-fluid{
    padding: 0px 5%;
}

.btn-primary{
    height: 38px !important;
    border-radius: 2px !important;
    background-color: #003ebb;
}

.btn-primary:hover{
    background-color: #003ebb;
}

.text-input, select{
    height: 42.9px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #b1b1b1;
    padding : 0px 10px;
}


.material-icons{
    color: #919191 !important;
}

tbody tr{
    border-bottom: 1px solid #d6d6d6;
}

tbody tr:last-child{
    border-bottom: none;
}


.modal-backdrop {
    background-color: #ffffff;
}

.modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(197, 197, 197, 0.5);
    border: none;
    padding: 0px 25px;
}

.modal-header{
        border-bottom: none;
    padding-top: 25px;
}

.modal-title{
    color: #003ebb;
}


.modal-header .close{
    margin-top: -6px;
    font-size: 28px;
    color: red;
}

label{
    display: block;
}

label{
    color: #555555;
    margin-bottom: 10px;
}

input[type="checkbox"]{
    display: none;
}

.inline-label{
    display: inline !important;
}

.checkbox label, .radio label{
    padding-left: 0px;
}

.green{
    color: #00bb56 !important;
}

.red{
    color: red;
}

.blue-text{
    color: #003ebb;
}

.checkbox_selected{
    color: #04BB56 !important;
}

.checkbox_unselected{
    color: #919191 !important;
}

.p-lr-zero{
    padding-left: 0px;
    padding-right: 0px;
}
