


body {
    /*font-family: 'Open Sans', sans-serif;    */
  /*  background-color: #f3f3f3;*/
}
/*
#indent-list{
    width: 60%;


}*/

#customer-list, #indent-list{
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;/*
    box-shadow: 0px 0px 5px #cecece;*/
    padding-top: 40px;
    background-color: white;
}

#customer-list{
    width: 80%;
}

#indent-list h3{
    display: inline;
}


.indent-options{
    float: right;
}

#indent-table{
    margin-top: 20px;
}

.table-wrapper{
/*	width: 100%;*/
	/*overflow: scroll;*/
	padding: 0px;
	margin-top: 15px;
    margin-bottom: 60px;
}


#customer-modal .modal-dialog{
    width: 800px !important;
}

