#invoice_lot{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    box-shadow: 0px 0px 5px #cecece;
}

#invoice_lot .text-input, select{
    width: 100%;
}

#invoice-input{
    margin: 30px auto;
}
input[type="checkbox"] {
     display: initial;
}


table{
    box-shadow: 0px 0px 5px #c1c1c1;
}

input[type='submit']{
    margin: 20px auto 20px 15px;
}

.table>thead>tr>th{
    padding: 12px !important;
}

.table>tbody>tr>td{
    padding: 12px !important;
}