
.index-body{

	font-family: 'Open Sans', sans-serif;    
}

.login-title{
 font-weight: 500;
 color: #555;
}




.login-textbox{
font-weight: 700;
font-size: 16px;
}

.label{
font-size: 16px;

}

.index-body{
	background-color: #f8fbff !important;
	font-weight: 300;
    font-size: 14px;
    color: #fafafa;
}

.v-align{
	display: flex;
    align-items: center;
    height: 95vh;

}

.card-width{
	display:block;
	width:400px !important; 
	    margin-top: 15px;
    border: none;
    border-radius: 5px;
	background-color: #fff !important;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.20)!important;

}
.login-logo{
	height: 20px;
margin-top: 40px;
margin-bottom: 40px;
}

.login-textbox{
background-color: transparent;

border-radius: 5px;
border:1px solid #dddddd;
padding:8px 15px;
margin-top: 20px;
color: #555;
    width: 75%;
}


input:focus { 
     border:1px solid #dedbdb;
}

.inputfield-group{
	margin: 30px 0px;
}

.label{
margin-left: 50px;
    font-size: 16px;
    font-weight: 400;
    color: #555 !important;
}

.login-cases{

	display: block;
font-size: 16px;
text-align: center;
}

.failed{
	color:#FF343B;
    font-weight: 700;
}

.login-button, #verify-btn{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 12px 40px !important;
    border: none;
    border-radius: 3px !important;
    font-size: 16px;
    margin-bottom: 40px;
    vertical-align: middle;
    font-weight: 400;
    background: #003ebb;
}

#verify-btn{
    font-size: 14px !important;
    padding: 8px 20px !important;
}


.login-button:hover{
     background: #002e8a;
}

.abstract{
    margin-top: -18px;

}

.otp-field, .otp-field:focus{
    width: 70%;
    border: none;
    outline: none;
    box-shadow: none;
    border-bottom: 1px solid #c1c1c1;
    padding: 2px;
    color: #333333;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
}


.error-text{
    width: 75%;
    margin: 5px auto;
}


.otp-modal-body h4 {
    color: #333333;
}


#otpModal .modal-dialog{
    width: 375px !important;
    margin-top: 20vh;
}

#verify-btn{
    margin-top: 30px;
    margin-bottom: 30px;
}
/*
input:focus { 
    outline: none;
}*/