body{
	background-color: #f3f3f3;
}

#filter-date, #add-details{
    float: right;
    margin-top: 15px;
}

#add-details{
	height: 42px !important;
}

#filter-date{
	margin-right: 15px;
}

h3{
    display: inline-block;
    margin-top: 20px;
}

#packaging-details{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
	box-shadow: 0px 0px 5px #cecece;
	background-color: white;
	min-height: 80vh;
}

.p-0{
	padding: 0px;
}

.modal-content{
	padding-bottom: 10px !important;
}

.modal-dialog{
	width: 75% !important;
}

.form-group{
	margin-bottom: 20px;
}

#quality{
	width: 202px;
}

.feedback {
    color: red;
    font-weight: bold;
    font-size: 12px;
    display: block;
}