.dropdown-toggle {
    width: 165px;
}
table {
    margin-top: 40px;
}
#packaging-details {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 5px #cecece;
}
#package-details-div {
    margin-top: 40px;
}
h4 {
    margin: 0px;
}
.label-left {
    display: inline-block;
}
.p-0 {
    padding: 5px 0px;
}
.text-input {
    width: 60%;
}
.form-group {
    margin-bottom: 0px !important;
}
#first-div {
    border-bottom: 2px solid #d3d3d3;
    padding-bottom: 10px;
}
#second-div {
    padding: 10px 0px;
}
#back-btn {
    float: right;
    border: 1px solid #d3d3d3;
    padding: 4px 10px 2px 5px;
    border-radius: 5px;
    color: #919191;
    font-size: 14px;
    vertical-align: middle;
}
#title-p {
    font-size: 17px;
    font-weight: 600;
    padding-right: 0px;
    margin-top: 8px;
}
label {
    font-weight: 500;
}
.text-input {
    height: 35px;
}
.input-two {
    width: 85%;
}
form {
    margin: 30px 0px;
}
table {
    margin-top: 0px;
}
.table-div {
    overflow-x: auto;
}

#doff_no{
    width: 60%;
}
