.pf-options{
    float: right;
}

#sales-head h3{
    display: inline;
}

#filter-date{
    height: 39px;
    margin-right: 30px;
    background-color: #f3f3f3;
}

.table>tbody>tr>td{
    padding-top: 15px;
    padding-bottom: 15px;
}

.table{
    border: 1px solid #d3d3d3;
}


div.table {border: 1px solid #d3d3d3; display: table; }
div.tr {border: 1px solid #d3d3d3; display: table-row; }
div.td {border: 1px solid #d3d3d3; display: table-cell; padding: 10px}
.pf-form{
    display: table-row;
}

.existing_filament, .changed_filament{
    width: 60px;
}

.cord_weight, .no_of_changes, .changes_per_hr, .consumption{
    width: 80px;
}

.speed_in_mpm, .running_hrs, .production_per_hr, .no_of_spls{
    width: 60px;
}


.pf-form input[type="text"]{
    border: none;
    border-radius: 2px;
    background-color: #f0f0f0;
    outline: none;
    box-shadow: none;
}

.pf-form select, .pf-form input{
    height: 31px;
}

.pf-form input{
    padding-left: 10px;
}


#filter-date{
    height: 39px;
    margin-right: 30px;
    background-color: #f3f3f3;
}

#pf-table{
    margin-top: 50px;
}

input[type = "submit"]{
    height: 30px !important;
    font-size: 12px;
}

input[type="checkbox"]{
  display: block !important;
  margin: auto;
  position: relative;
  bottom: -10px;
}


.dropdown-menu li{
    padding : 5px 0px;
}


.dropdown-menu{
    border: 0px;
    margin: 3px -125px 0;
}

.changed_filament_select{
  width: 90px;
  margin-top: 10px;
}

.changed_filament{
  width: 90px;
}

.name-title{
    font-size: 30px;
}


#pf-head{
    margin-top: 55px;
}

.modal-dialog{
    width: 30%;
}

.form-group>select,.form-group>input[type='text']{
  width: 100%;
  border-radius: 5px;
}

.delete{
  cursor: pointer;
}
