
/*#pp-head{
    margin-top: 40px;
}

#pp-table{
    margin-top: 40px;
}*/


body {
	font-family: 'Open Sans', sans-serif;    
    background-color: #fcfcfc;
}

#pp{
    width: 90%;
    margin-left: auto;
    margin-right: auto;

}

.slno,.cn,.quality,.order,.ft,.split{
    display: inline-block;
    vertical-align: middle;
    width: 18%;
    padding: 8px 3px;
    font-weight: 600;
}

.slno-data,.cn-data,.quality-data,.order-data,.ft-data,.split-data{
    display: inline-block;
    vertical-align: middle;
    width: 18%;
    padding: 20px 3px;
}

.cn,.cn-data{
    width: 25% !important;
}
.slno,.slno-data{
    width: 5% !important;
}


.split,.split-data{
    text-align: center;
    width: 10% !important;
}

.table_padding{
	margin-top: 20px;
	padding: 0px;
}

.table1_padding{
	margin-top: 15px;
}

.tableheader_padding{
	margin-top: 30px;
}

.tablemod>thead>tr>th, .tablemod>tbody>tr>td{
	padding-left: 0px;
}


.tablemod>thead>tr>th{
	border-bottom: 1px solid #D7d7d7;
}



.table-cards{   
	 box-shadow: 0px 2px 8px #cecece;
	 border-radius: 3px;
	 background-color: #fff;
}

.table-border{
	border-bottom: 1px solid #DDDDDD;

}


.sub-head{
	font-size: 16px !important;
	display: inline-block;
	font-weight: 600;
}

.splitbutton {
    padding: 8px 30px;
    text-decoration: none;
}

.splitbutton:hover{
	text-decoration: none !important;
}

.title{
	display: inline-block;
}

.back{
	display: inline-block;
	vertical-align: middle;

}


.modal-title{

    color: #111;
    font-weight: 600;
}