.sales-options {
    float: right;
}
#sales-head h3 {
    display: inline;
}

.committed-date::-webkit-inner-spin-button{
    display: none;
    -webkit-appearance: none;
}

/*.ui-datepicker{*/
 /*!*position: relative !important;*!*/
/*}*/

#filter-date {
    height: 39px;
    margin-right: 30px;
    background-color: #f3f3f3;
}
#sales-head {
    margin-top: 120px;
}
#sales-table {
    margin-top: 40px;
}
.table>tbody>tr>td {
    padding-top: 15px;
    padding-bottom: 15px;
}
.table {
    border: 1px solid #d3d3d3;
}
#add-sales-form input, #add-sales-form select {
    width: 100%;
}

#add-sales-form{
    padding: 0px;
}

#add-sales-form select {
    height: 35px;
    font-size: 15px;
}
#submit-sale-form {
    width: 140px !important;
}
#sales-modal .modal-dialog {
    width: 750px;
    margin-top: 20vh;
}
.feedback {
    color: red;
    font-weight: bold;
    font-size: 10px;
}

.order-group{
    padding: 0px;
}


#order-details-info{
    font-size: 16px;
    margin-bottom: 20px;
}

#order-details-info span{
    margin: 10px;
}

#customer_name_update,#material_update,#weight_update,#order_update,#customer_date_update{
    width: 100% !important;
}

.customer-date{
    width: 80% !important;
}

.customer-date ~ a{
    margin-left: 5px;
}

.customer-date ~ a:hover{
    cursor: pointer;
}

.customer-date ~ a>.material-icons{
    font-size: 18px !important;
}

#total-sale-qty span{
    color: #003ebb;
}
.material-icons{
  cursor: pointer;
}
