.w-50{
    display: inline-block;
    width: 49.5%;
}
.btn-spacing {
    margin-bottom: 60px;
    padding: 0px 50px !important;
}

.order-group{
    width: 18%;
    display: inline-block;
}

.order-group-holder{
    padding: 0px 3%;
}
#nav-dropdown {
    padding: 0px;
    width: auto;
    margin-right: 20px;
}
        input, select {
            height: auto !important;
            border: 1px solid #d7d7d7 !important;
            padding: 5px !important;
            border-radius: 0px !important;
            background-color: #ffffff;
        }

        .txt-box input, .txt-box select{
            width: 90% !important;
            height: 35px !important;

        }

h3{
    margin-top: 50px;
    display: inline-block;
}

.order-group-holder{
    margin: 20px 0px;
}

.order-group label{
    margin-bottom: 10px;
    font-size: 13px;
}

.form-group{
    margin-bottom: 30px;
}

.options{
    display: inline-block;
    float: right;
    margin-top: 50px;
}
#weight-log{
    margin-top: 60px;

    
}

#weight-log-form{
    margin-top: 30px;
        padding: 0px;
}



/*
#weight-log{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    box-shadow: 0px 0px 5px #cecece;
}*/

table{
    margin-top: 0px;
}

td>a{
    color: #003ebb;
}

a:hover{
    text-decoration: none;
    color: #003ebb;
}

.table>tbody>tr>td{
    padding: 12px;
}

td .material-icons{
    font-size: 18px;
}

.hr-text-input{
    height: 30px;
}

.spindle-no{
    width: 50px;
}

#zell-a-table{
    margin-top: 20px;
}

#zell-b-table-1 .weight, #zell-b-table-2 .weight{
    width: 50%;
}

#zell-b-div-one{
    padding-right: 20px;
    border-right: 1px solid gainsboro;
}

.table>thead>tr>th{
    padding-bottom: 15px !important;
}

#weight-form-div{
    margin-top: 20px;
    box-shadow: 0px 0px 5px #cecece;
    margin-bottom: 40px;
}

#zell-b-div-one{
    padding-left: 0px;
}

#zell-b-div-two{
    padding-right: 0px;
}



.remove-row{
    margin-left: 10px;
    font-size: 10px;
}