<!DOCTYPE html>
<html>
<head>
    <title>Date Commitment Report</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <link rel="stylesheet" href="css/bootstrap.css">

    {{--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"--}}
              {{--integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">--}}
    {{--<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">--}}
    {{--<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700" rel="stylesheet">--}}
    {{--<link href="https://fonts.googleapis.com/icon?family=Material+Icons"--}}
              {{--rel="stylesheet">--}}


    <style>



        .table{
            margin: 20px auto;
            /*font-size: 11px !important;*/
        }

        .table .tr .td{
            height: 10px;
        }

        .table>tbody>tr>td{
            padding: 2px;
            font-size: 9px  !important;
            font-weight: 600;
        }

        .party-name{
            padding-top: 10px;
        }

        .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
            border: 1px solid #333;
        }
    </style>
</head>
<body>


<table class="table table-bordered">
    <tbody>
    <tr>
        <td rowspan="3" style="text-align: center; vertical-align: middle; font-size: 14px;">SCPL</td>
        <td colspan="7" style="text-align: center;">CORD SCHEDULE - DATE COMMITMENT</td>
        <td colspan="3">FORMAT NO</td>
    </tr>
    <tr>
        <td colspan="7" style="text-align: center">DIPPED CORDS</td>
        <td colspan="3">REV. NO:</td>
    </tr>
    <tr>
        <td colspan="7" style="text-align: center">FOR THE MONTH OF AUG-18</td>
        <td colspan="3">APPR BY:</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        {{--<td>&nbsp;</td>--}}
        {{--<td>&nbsp;</td>--}}
    </tr>
    <tr>
        <td style="text-align: center;">&nbsp;Party</td>
        <td style="text-align: center;">Quality</td>
        <td style="text-align: center;">Last Month Pending</td>
        <td style="text-align: center;">Order</td>
        <td style="text-align: center;">Total Order</td>
        <td style="text-align: center;">Customer Date</td>
        <td style="text-align: center;">SCPL Conf. Date</td>
        <td style="text-align: center;">Qty Schd/ Lot @scpl</td>
        <td style="text-align: center;">Dispatched qty</td>
        <td style="text-align: center;">Pending</td>
        <td style="text-align: center;">&nbsp;DD</td>
    </tr>
    @foreach($salesList as $bpId => $sales)

    <?php $bpName = \App\BusinessPartner::where('id', $bpId)->value('bp_name');

    $material = \App\ItemMaster::where('id', $sales[0]->material_id)->value('material');
    ?>
    <tr>
        <td rowspan="{{$salesList[$bpId]->count()}}">{{$bpName}}</td>
        <td>{{$material}}</td>
        <td>{{$sales[0]->last_month_pending}}</td>
        <td>{{$sales[0]->order_quantity}}</td>
        <td>{{$sales[0]->total_order}}</td>
        <td>{{$sales[0]->customer_date}}</td>
        <td>{{$sales[0]->scpl_confirmation_date}}</td>
        <td></td>
        <td>{{$sales[0]->dispatch_quantity}}</td>
        <td>{{$sales[0]->pending_quantity}}</td>
        <td>{{$sales[0]->dispatch_date}}</td>
    </tr>

    <?php unset($sales[0]) ?>

    @foreach($sales as $sale)
    <?php
                $material = \App\ItemMaster::where('id', $sale->material_id)->value('material');
    ?>
    <tr>
        {{--<td></td>--}}
        {{--<td>{{$material}}</td>--}}
        {{--<td>{{$sale->last_month_pending}}</td>--}}
        {{--<td>{{$sale->order_quantity}}</td>--}}
        {{--<td>{{$sale->total_order}}</td>--}}
        {{--<td>{{$sale->customer_date}}</td>--}}
        {{--<td>{{$sale->scpl_confirmation_date}}</td>--}}
        {{--<td></td>--}}
        {{--<td>{{$sale->dispatch_quantity}}</td>--}}
        {{--<td>{{$sale->pending_quantity}}</td>--}}
        {{--<td>{{$sale->dispatch_date}}</td>--}}
        {{--<td></td>--}}
        <td>{{$material}}</td>
        <td>{{$sale->last_month_pending}}</td>
        <td>{{$sale->order_quantity}}</td>
        <td>{{$sale->total_order}}</td>
        <td>{{$sale->customer_date}}</td>
        <td>{{$sale->scpl_confirmation_date}}</td>
        <td></td>
        <td>{{$sale->dispatch_quantity}}</td>
        <td>{{$sale->pending_quantity}}</td>
        <td>{{$sale->dispatch_date}}</td>
    </tr>
    @endforeach

    @endforeach


    </tbody>
</table>

</body>
</html>


