#generate-indent {
    width: 100%;
}



.material-btn{
    padding-right: 5px;
    vertical-align: middle;
}

.btn-add {
    height: 38px !important;
    border-radius: 2px !important;
    background-color: #EBF2FF;
    padding: 8px 30px;
    color: #003ebb;
    text-decoration: none;
    font-weight:500;
    margin-top: 10px;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;  
}

.btn-spacing{
   margin-top: 20px;
    margin-bottom: 20px;  
}

@media (max-width: 992px) and (min-width: 300px){

.generat-spacing {
    padding: 0% 0%;
}


}

label{
    font-size: 14px;
}
.list-spacing{
    margin-bottom: 30px;
}

.order-list-name{
    margin-top: 20px;
}


.update-btn{
    margin-bottom: 70px; 
}

@media (max-width: 2560px) and (min-width: 992px){

.generat-spacing {
    padding: 0% 10%;
}

}



@media (max-width: 768px) and (min-width: 300px){

.order-list input[type="text"], .order-list label{
    display: block;
}
}

@media (max-width: 1200px) and (min-width: 300px){
.order-input {
     width: 100% !important; 

 }
}

.list-input-spacing{
    margin-right: 20px; 
}