
@media (max-width: 2400px) and (min-width: 1440px){

}


@media (max-width: 1440px) and (min-width: 1200px){

}


@media (max-width: 1200px) and (min-width: 769px){
  
    .card-header>span:nth-child(1), .pallet-entry>span:nth-child(1){
        width: 10% !important;
    }

    .card-header>span:nth-child(2), .pallet-entry>span:nth-child(2){
        width: 43% !important;
        text-align: center;
    }

    .card-header>span:nth-child(3), .pallet-entry>span:nth-child(3){
        width: 43% !important;
        text-align: center;
    }
    .pallet-no, .pallet-weight{
        width: 100% !important;
    }
}

@media (max-width: 768px) and (min-width: 300px){
  
    .card-header>span:nth-child(1), .pallet-entry>span:nth-child(1){
        width: 10% !important;
    }

    .card-header>span:nth-child(2), .pallet-entry>span:nth-child(2){
        width: 30% !important;
        text-align: center;
    }

    .card-header>span:nth-child(3), .pallet-entry>span:nth-child(3){
        width: 30% !important;
        text-align: center;
        margin-left: 30px;
    }
    .pallet-no, .pallet-weight{
        width: 100% !important;
    }
}