
@media (max-width: 3400px) and (min-width: 1200px){

.table-header{
	margin-top: 90px; 
}
}


@media (max-width: 1400px) and (min-width: 1200px){
#pp {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.table-header{
	margin-top: 90px; 
}
}


@media (max-width: 1200px) and (min-width: 996px){
#pp {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.table-header{
	margin-top: 80px; 
}
}

@media (max-width: 996px) and (min-width: 769px){
#pp {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.table-header {
    margin-top: 10px;
}
}

@media (max-width: 768px) and (min-width: 300px){
#pp {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.modal-dialog {
   width: 100%;
	padding: 0% 8%;
    margin-top: 10vh;
}

.table-header {
    margin-top: 80px;
}
}


.table-header {
	font-weight: 600;
	background-color: #f4f4f4;
	padding: 10px 0px;
	border-radius: 5px;
}


.deleteall-icon{
	color: #ff6c6c !important;
}


.batch{
	text-align: center;

}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=100);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 1;
    background-color: #ccc;
    border:none;
}

.btn-primary[disabled]:hover, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
    background-color: #ccc;
    border:none;
}

.bd{
	padding-bottom: 0px !important;
}

.sub-head{
	margin-bottom: 0px;
}

.batch-table{
	margin-bottom: 0px !important;
}

.add-batch-txt{
	font-weight: 600;
	font-size: 14px;
	color: #003ebb;
	padding-left: 30px;
}