
#createChemicalModal .modal-dialog {
    width: 50%;
}
@media (max-width: 2400px) and (min-width: 1440px){

#createFilamentModal .modal-dialog {
    width: 70% !important;
}
.type {
    width: 10% !important;
}

.weight, .date, .invoice-date, .status {
    width: 12% !important;
}

#filament-clearance {
    padding: 0% 10% !important;
}
}


@media (max-width: 1440px) and (min-width: 1200px){

.type {
    width: 15% !important;
}

.weight, .date, .invoice-date, .status {
    width: 12% !important;
}


#filament-clearance {
    padding: 0% 0% !important;
}

#createChemicalModal .modal-dialog {
    width: 50% !important;
}


}

@media (max-width: 1200px) and (min-width: 768px){
.clearance-list {
    font-size: 14px;
    padding: 20px 15px;
    box-shadow: 0px 0px 5px gainsboro;
     padding-left: 0%;
    margin: 30px auto 15px;
}
.type {
    width: 12% !important;
}

.weight, .invoice-date, .status {
    width: 11% !important;
    margin-right: 8px;
}


#createChemicalModal .modal-dialog {
    width: 80% !important;
}

}

@media (max-width: 768px) and (min-width: 300px){
#createChemicalModal .modal-dialog {
    width: 80% !important;
}
.clearance-list {
    font-size: 12px;
    padding: 20px 15px;
    box-shadow: 0px 0px 5px gainsboro;
     padding-left: 0%;
    margin: 30px auto 15px;
}
.lot-no {
    width: 8% !important;
    margin-right: 5px;
}


.type {
    width: 10% !important;
    margin-right: 5px;
}


.weight, .invoice-date, .status {
    width: 10% !important;
    margin-right: 8px;
}


 .date{
 width: 8% !important;
margin-right: 5px;}

.denier {
    width: 10%. !important;
    margin-right: 5px;
}

.action {
    display: block !important;
    vertical-align: middle;
    margin-top: 10px !important;
}

}
