
.modal-dialog {
    width: 50%;
}
@media (max-width: 2400px) and (min-width: 1440px){

#createFilamentModal .modal-dialog {
    width: 40% !important;
}
.type {
    width: 15% !important;
}

.lot-no{
    margin-right: 10px; 
}

.weight, .date, .invoice-date, .status {
    width: 12% !important;
}

#filament-clearance {
    padding: 0% 5% !important;
}
.status {
    margin-left: 15px;
}



}

@media (max-width: 1440px) and (min-width: 1210px){

.type {
    width: 15% !important;
}

.weight, .date, .invoice-date, .status {
    width: 12% !important;
}


#filament-clearance {
    padding: 0% 0% !important;
}

#createChemicalModal .modal-dialog {
    width: 50% !important;
}

.lot-no{
    margin-right: 10px; 
}

.action {
    /* vertical-align: middle; */
     margin-top: 10px !important; 
}


}

@media (max-width: 1210px) and (min-width: 768px){
.clearance-list {
    font-size: 14px;
    padding: 20px 15px;
    box-shadow: 0px 0px 5px gainsboro;
     padding-left: 0%; 
    margin: 30px auto 15px;
}
.type {
    width: 18% !important;
}

.weight, .invoice-date, .status {
    margin-right: 8px;
}

.modal-dialog {
    width: 80% !important;
}

.lot-no, .weight, .date, .status {
    width: 10% !important;
}

.invoice-date, .denier{
        width: 18%;
}

.action {
    /* vertical-align: middle; */
     margin-top: 10px !important; 
}

}

@media (max-width: 768px) and (min-width: 300px){
.modal-dialog {
    width: 80% !important;
}
.clearance-list {
    font-size: 12px;
    padding: 20px 15px;
    box-shadow: 0px 0px 5px gainsboro;
     padding-left: 0%; 
    margin: 30px auto 15px;
}
.lot-no {
    width: 8% !important;
    margin-right: 5px;
}


.type {
    width: 18% !important;
    margin-right: 5px;
}

.weight {
    width: 13% !important;
    margin-right: 5px;
}

.invoice-date {
    width: 15% !important;
    margin-right: 5px;
}

.denier {
    width: 20%. !important;
    margin-right: 5px;
}

.status{
    width: 10% !important;
    margin-right: 5px;
}


 .date{
 width: 8% !important;
margin-right: 5px;}


.action {
    display: block !important;
    vertical-align: middle;
    margin-top: 10px !important;
}

}