
#createChemicalModal .modal-dialog {
    width: 50%;
}
@media (max-width: 2400px) and (min-width: 1440px){

.lot-no, .type {
    margin-right: 10px;
}

.type {
    width: 16% !important;
}
.weight, .date, .invoice-date, .status {
  margin-right: 8px;
  width: 9% !important;
}

.denier {
    margin-right: 8px;
}


#filament-clearance {
    padding: 0% 18% !important;
}
#createChemicalModal .modal-dialog {
    width: 50% !important;
}
}


@media (max-width: 1440px) and (min-width: 1200px){
.lot-no {
    width: 7% !important;
    margin-right: 10px;
}
.type {
    width: 15% !important;
}

.weight, .date, .invoice-date, .status {
    width: 9% !important;
}


#filament-clearance {
    padding: 0% 0% !important;
}

#createChemicalModal .modal-dialog {
    width: 50% !important;
}
.inline-div {
    display: inline-block;
}



}

@media (max-width: 1200px) and (min-width: 768px){
.clearance-list {
	font-size: 14px;
    padding: 20px 15px;
    box-shadow: 0px 0px 5px gainsboro;
     padding-left: 0%; 
    margin: 30px auto 15px;
}
.lot-no{
    width: 7%;
}

.type {
    width: 12% !important;
}
#createChemicalModal .modal-dialog {
    width: 80% !important;
}

.date{
    width: 8%;
}
.weight, .invoice-date {
    width: 9% !important;
    margin-right: 8px;
}
.denier {
    width: 9% !important;
    margin-right: 5px;
}

.inline-div {
    display: inline-block;
}
.status {
    width: 6% !important;
    margin-right: 8px;
}

}

@media (max-width: 768px) and (min-width: 300px){
#createChemicalModal .modal-dialog {
    width: 80% !important;
}
.clearance-list {
	font-size: 12px;
    padding: 20px 15px;
    box-shadow: 0px 0px 5px gainsboro;
     padding-left: 0%; 
    margin: 30px auto 15px;
}
.lot-no {
    width: 10% !important;
    margin-right: 5px;
}


.type {
    width: 20% !important;
    margin-right: 5px;
}


.weight, .invoice-date, .status {
    width: 13% !important;
    margin-right: 8px;
}


 .date{
 width: 10% !important;
margin-right: 5px;}

.denier {
    width: 10%. !important;
    margin-right: 5px;
}

.action {
	display: block !important;
    vertical-align: middle;
    margin-top: 20px !important;
}

.download, .edit {
    margin-left: 0px !important;
}

}