
@media (max-width: 2400px) and (min-width: 1440px){

.table-width{
    width: 100% !important;
    max-width: 100% !important;
}

}


@media (max-width: 1440px) and (min-width: 1200px){


.table-width{
    width: 100% !important;
    max-width: 100% !important;
}

}

@media (max-width: 1024px) and (min-width: 996px){
.table-width{
    width: 110% !important;
    max-width: 110% !important;
}
}

@media (max-width: 996px) and (min-width: 300px){
.table-width{
    width: 140% !important;
    max-width: 140% !important;
}

}

        
