
#createChemicalModal .modal-dialog {
    width: 50%;
}
@media (max-width: 2400px) and (min-width: 1440px){

#createFilamentModal .modal-dialog {
    width: 40% !important;
}
.type {
    width: 10% !important;
}

.weight, .date, .invoice-date, .status {
    width: 10% !important;
}

#filament-clearance {
    padding: 0% 10% !important;
}

}


@media (max-width: 1440px) and (min-width: 1200px){
.lot-no {
    width: 8%;
}
.type {
    width: 9% !important;
}

.weight, .date, .invoice-date, .status {
    width: 9% !important;
}


#filament-clearance {
    padding: 0% 8% !important;
}

#createChemicalModal .modal-dialog {
    width: 50% !important;
}



}
@media (max-width: 1200px) and (min-width: 997px){
.type {
    width: 12% !important;
}

.lot-no {
    width: 12%;
}
.weight, .invoice-date, .status {
    width: 16% !important;
    margin-right: 8px;
}
.denier {
    width: 13%;
}
#filament-clearance {
    padding: 0% 8% !important;
}

#createChemicalModal .modal-dialog {
    width: 50% !important;
}
.action{
            vertical-align: middle;
            margin-top: 10px;
        }



}


@media (max-width: 996px) and (min-width: 768px){
.clearance-list {
    font-size: 14px;
    padding: 20px 15px;
    box-shadow: 0px 0px 5px gainsboro;
     padding-left: 0%; 
    margin: 30px auto 15px;
}
.type {
    width: 12% !important;
}

.weight, .invoice-date, .status {
    width: 16% !important;
    margin-right: 8px;
}
.denier {
    width: 13%;
}

#createChemicalModal .modal-dialog {
    width: 80% !important;
}
.lot-no {
    width: 12%;
}
.action{
            vertical-align: middle;
            margin-top: 10px;
        }

}

@media (max-width: 767px) and (min-width: 300px){
#createChemicalModal .modal-dialog {
    width: 80% !important;
}
.clearance-list {
    font-size: 12px;
    padding: 20px 15px;
    box-shadow: 0px 0px 5px gainsboro;
     padding-left: 0%; 
    margin: 30px auto 15px;
}
.lot-no {
    width: 8% !important;
    margin-right: 5px;
}


.type {
    width: 10% !important;
    margin-right: 5px;
}


.weight, .invoice-date, .status {
    width: 13% !important;
    margin-right: 8px;
}


 .date{
 width: 8% !important;
margin-right: 5px;}

.denier {
    width: 10%. !important;
    margin-right: 5px;
}
}