

@media (max-width: 2560px) and (min-width: 1450px){
#sales-head, #sales-table{
	padding: 0% 10%;
}
}



.table-wrapper{    
	width: auto;
    overflow-x: scroll;
}
@media (max-width: 768px) and (min-width: 576px){
#sales-modal .modal-dialog {
   width: 100%;
	padding: 0% 2%;
    margin-top: 10vh;
}

}

@media (max-width: 576px) and (min-width: 300px){
#sales-modal .modal-dialog {
   width: 100%;
	padding: 0% 6%;
}

}